/* Cards: start */
.row {
    display: flex;
    flex-wrap: wrap;

    margin: {
        left: -15px;
        right: -15px;
        bottom: 30px;
    }
}

.card-wrapper {
    @include flex(0, 0, 25%);
    max-width: 25%;

    padding: {
        left: $card-margin-x;
        right: $card-margin-x;
    }

    @media (max-width: 992px) {
        @include flex(0, 0, 33.33%);
        max-width: 33.33%;
    }

    @media (max-width: 768px) {
        @include flex(0, 0, 50%);
        max-width: 50%;
    }

    @media (max-width: 600px) {
        @include flex(0, 0, 100%);
        max-width: 100%;
    }

    & :hover {
        // background-color: $primary;
        color: #fff;
        @include transition(.5s);

        @each $color,
        $value in $theme-color {
            & .#{$color} {
                background-color: darken($color: $value, $amount: 10%);
            }
        }

        h4 {
            color: color-yiq(#fff);
            font-weight: 400;
        }

        h2 {
            color: color-yiq(#fff);
            padding-bottom: 12px;
            border-bottom: 1px solid $border-color;
            margin-bottom: 10px;
        }

        p,
        a {
            color: color-yiq(#fff);
        }
    }
}

.card {
    padding: 16px;
    border-radius: $border-radius-10;
    @include transition(.5s);

    .icon-wrapper {
        @include flex-center;
        border-radius: 10px;
        height: 60px;
        width: 60px;
        justify-content: center;
        margin-bottom: 16px;
        text-align: center;

        @each $color,
        $value in $theme-color {
            &.#{$color} {
                background-color: lighten($value, 35%);
            }
        }
    }

    h4 {
        color: $white;
        font-weight: 400;
    }

    h2 {
        padding-bottom: 12px;
        border-bottom: 1px solid $border-color;
        margin-bottom: 10px;
    }
}

/* Cards: end */

@each $color,
$value in $theme-color {
    .card-#{$color} {
        background-color: $value;
        color: color-yiq($value);
    }
}

@each $color,
$value in $theme-color {
    .icon-#{$color} {
        color: $value;
    }
}